<div>
    <form>
        <table class="table table-bordered table-cell-hover" width="100%">
             <tr ng-repeat="alert in alerts">
                <td ng-click="">
                    {{alert.hh}}{{alert.mm}}Hrs - {{alert.day}}/{{alert.month}}/{{alert.year}} :: {{alert.msg}}
                </td>
                <td>
                    <span class="glyphicon glyphicon-remove" ng-click="deleteAlert(alert.id)"></span>
                </td>
            </tr>

        </table>
    </form>
</div>