<div ng-controller="reminderController" data-ng-init="init()">
    <div class="container-fluid">
        <div>{{calendar.firstDate.month + calendar.firstDate.year}}</div>
        <div>
            <button type="button" class="btn btn-default btn-sm" ng-click="getCalender(-1)">
                <span class="glyphicon glyphicon-chevron-left"></span> Prev
            </button>
            <button type="button" class="btn btn-default btn-sm" ng-click="getCalender(1)">
                <span class="glyphicon glyphicon-chevron-right"></span> Next
            </button>
        </div>
        <table class="table table-bordered table-cell-hover" width="100%">
            <tr>
                <th>MONDAY</th>
                <th>TUESDAY</th>
                <th>WEDNESDAY</th>
                <th>THURSDAY</th>
                <th>FRIDAY</th>
                <th>SATURDAY</th>
                <th>SUNDAY</th>
            </tr>
            <tr ng-repeat="week in calendar.weeks">
                <td ng-repeat="date in week.dates" ng-click="displayPopup(date)">{{date.localDate.dayOfMonth}}</td>
            </tr>

        </table>
    </div>
</div>
