<div ng-controller="reminderController">

    <div class="container-fluid">
        <table class="table table-bordered table-cell-hover" width="100%">
            <tr>
                <th ng-click="myFunc()">MONDAY</th>
                <th>TUESDAY</th>
                <th>WEDNESDAY</th>
                <th>THURSDAY</th>
                <th>FRIDAY</th>
                <th>SATURDAY</th>
                <th>SUNDAY</th>
            </tr>
                <tr ng-repeat="week in calendar.weeks">
                    <td ng-repeat="date in week.dates">{{date.localDate.dayOfMonth}}</td>
                </tr>

        </table>
    </div>
</div>
